# yaml-language-server: $schema=https://www.schemastore.org/prettierrc.json
plugins:
  - "@shopify/prettier-plugin-liquid"
  - prettier-plugin-toml
overrides:
  - files:
      - "*.html"
    options:
      singleAttributePerLine: false
      htmlWhitespaceSensitivity: ignore
  - files:
      - "*.md"
    options:
      singleLineLinkTags: true
      printWidth: 240
