<sequoia-subscribe
  button-type="bluesky"
  {%
  if
  site.sequoia.callback_url
  -%}
  callback-uri="{{ site.sequoia.callback_url }}"
  {%-
  endif
  %}
  publication-uri="{{ site.sequoia.publication_url }}"
></sequoia-subscribe>
<script>
  (function () {
    var el = document.currentScript.previousElementSibling;
    var mq = window.matchMedia("(max-width: 600px)");
    function update() {
      if (mq.matches) {
        el.setAttribute("label", "Subscribe");
      } else {
        el.removeAttribute("label");
      }
    }
    update();
    if (mq.addEventListener) {
      mq.addEventListener("change", update);
    } else {
      mq.addListener(update);
    }
  })();
</script>
<script
  type="module"
  src="{{ '/assets/scripts/sequoia-subscribe.js' | relative_url }}"
></script>
