:root {
    --accent-color: #{$link-base-color};
    --secondary-color: #{$grey-color};
    --border-radius: 8px;
    --button-gap: 0.5rem;

    --sequoia-accent-color: var(--accent-color);
    --sequoia-secondary-color: var(--secondary-color);
    --sequoia-border-radius: var(--border-radius);
}

.subscribe-buttons {
    display: flex;
    gap: var(--button-gap);
    align-items: center;
    margin-left: var(--button-gap);

    @media screen and (max-width: 600px) {
        flex-wrap: wrap;
    }
}

.accent-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 20px;
    min-height: 20px;
    padding: 0.5rem;
    aspect-ratio: 1;
    background: var(--accent-color);
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.15s ease;

    &:hover {
        background: color-mix(in srgb, var(--accent-color) 85%, black);
        text-decoration: none;
    }

    img {
        width: 1.25rem;
        height: 1.25rem;
        display: block;
    }
}

a {
    color: $link-base-color;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }

    &:visited {
        color: $link-base-color;
    }
}

.imgrid {
    display: flex;
    flex-wrap: wrap;

    img {
        width: 16rem;
    }
}

img.align-right {
    float: right;
    margin: 0px 0px 10px 10px;
}

.grey {
    color: $grey-color;
    fill: $grey-color;
}

.site-header {
    background-color: $blue-color-dark;

    a {
        text-decoration: none;
    }

    .page-link {
        color: $grey-color;
    }

    .site-title {
        color: $grey-color;
    }
}

.post-header {
    margin-bottom: 15px !important;
}

.post-list {
    a.post-link {
        text-decoration: none;
    }
}

sequoia-comments::part(container) {
    margin-top: 30px;
}

svg#keybase path {
    stroke: $grey-color-dark !important;
}

.footer-col-1 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width: calc(20% - (#{$spacing-unit} / 2));

    .social-media-list {
        inline-size: max-content;
    }
}

.tag-content {
    color: $grey-color;
    font-style: italic;
}

.footer-col-2 {
    width: -webkit-calc(80% - (#{$spacing-unit} / 2));
    width: calc(80% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    display: none;
}