img.align-right {
    float: right;
    margin: 0px 0px 10px 10px;
}

svg#keybase path {
    stroke: $grey-color-dark !important;
}

.footer-col-1 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(80% - (#{$spacing-unit} / 2));
    width:         calc(80% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    display: none;
}

.grey {
    color: $grey-color;
    fill: $grey-color;
}

.site-header {
    background-color: $blue-color-dark;

    .page-link {
        color: $grey-color;
    }

    .site-title {
        color: $grey-color;
    }
}
