@use "sass:color";

$grey-color: #b2b7bb;
$blue-color: #2d5980;
$blue-color-dark: #002a5c;
$green-color: #7ac142;

$brand-color: $blue-color;
$link-base-color: color.adjust($brand-color, $lightness: 15%);
$link-hover-color: color.adjust($brand-color, $lightness: -15%);

$content-width: 80vw;