---
layout: default
---

<div class="home">
  {%- if page.title -%}
  <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
  <div style="display: flex; justify-content: space-between; align-items: center;">
    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    <div class="subscribe-buttons">
      <sequoia-subscribe publication-uri="{{ site.publication_url }}"></sequoia-subscribe>
      <script type="module" src="{{ '/assets/scripts/sequoia-subscribe.js' | relative_url }}"></script>
      <a class="accent-button" href="{{ '/feed.xml' | relative_url }}" aria-label="RSS Feed">
        <img src="{{ '/assets/images/rss.svg' | relative_url }}" alt="RSS">
      </a>
    </div>
  </div>
  <ul class="post-list">
    {%- for post in site.posts -%}
    <li>
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      <span class="post-meta">{{ post.date | date: date_format }}</span>
      <h3>
        <a class="post-link" href="{{ post.url | relative_url }}">
          {{ post.title | escape }}
        </a>
      </h3>
      {%- if site.show_excerpts -%}
      {%- if post.summary -%}
      {{ post.summary | escape }}
      {%- else -%}
      {{ post.excerpt }}
      {%- endif -%}
      {%- endif -%}
    </li>
    {%- endfor -%}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ " /feed.xml" | relative_url }}">via RSS</a></p>
  {%- endif -%}

</div>